/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  /* font-size: 100%; */
  /* line-height: 1; */
  /* font-size: 14px; */
  /* -ms-text-size-adjust: 100%; */
  /* -moz-text-size-adjust: 100%; */
  /* -webkit-text-size-adjust: 100%; */
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

*,
::before,
::after {
  box-sizing: border-box;
}

button,
input {
  border: none;
}

input::-webkit-input-placeholder {
  color: #fff;
}

body {
  background-color: #13171b;
  font-family: 'Roboto', sans-serif;
}

/* @keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

:root {
  --bg-general: #13171b;
}

.container {
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.subheader {
  color: #b0bac5;
  font-size: 1em;
  text-align: center;
  margin-bottom: 5px;
}

.forum-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.forum-link {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #9801e7;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tablinks {
  color: white;
  background-color: #20252b;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  min-height: 30px;
  border-radius: 15px;
}

.tablinks:hover {
  /* border: 1px solid rgb(96, 45, 220); */
  outline: 1px solid #9801e7;
}

.tablinks.active {
  /* border: 1px solid rgb(96, 45, 220); */
  outline: 1px solid #9801e7;
  background-color: #2e363f;
}

.tablinks:focus {
  /* border: 1px solid rgb(96, 45, 220); */
  outline: 1px solid #9801e7;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#inputSearch {
  color: white;
  background-color: #20252b;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  min-height: 30px;
  border-radius: 15px;
  text-align: center;
  border-bottom: 1px solid #9801e7;
}

#inputSearch:hover {
  /* border: 1px solid rgb(96, 45, 220); */
  outline: 1px solid #9801e7;
}

#inputSearch:focus {
  /* border: 1px solid rgb(96, 45, 220); */
  border-bottom: none;
  outline: 1px solid #9801e7;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* opacity: 0; */
  /* animation: ani 2.5s forwards; */
}

.card-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.card-category {
  color: white;
  /* background-color: rgb(96, 45, 220); */
  background-color: #9801e7;
  font-size: 0.7em;
  padding: 2px 5px;
  border-radius: 15px;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}

.card-title {
  padding: 5px;
  font-size: 0.8em;
  color: var(--bright-text);
  text-align: center;
}

.card-description {
  padding: 5px;
  font-size: 0.8em;
  color: var(--bright-text);
  text-align: center;
}

/* Btn-Up */
.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #9801e7;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: '';
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

/* @media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    /* background-color: #9801e7; цвет заднего фона при наведении */
/* outline: 1px solid white; */
/* } */
/* } */

/* Media */
/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */

/* @media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
} */

/* @media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
 */

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .tablinks {
    min-width: 160px;
  }

  .cards {
    justify-content: space-around;
  }

  .card {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* .tablinks {
    min-width: 160px;
  }

  .cards {
    justify-content: space-around;
  }

  .card {
    margin: 20px 0;
  } */
}

@media (max-width: 509px) {
  .btn-up {
    width: 40px;
    height: 40px;
    right: 10px;
  }
}
